*{
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right, #1d2b64, #f8cdda);
    margin: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Arial', sans-serif;
    color: #fff;
}

#calculadora table {
    border-collapse: collapse;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
}

#calculadora input {
    width: 100%;
    padding: 15px;
    font-size: 1.5em;
    border: none;
    background-color: #2d3e50;
    color: white;
    text-align: right;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

#calculadora input:focus {
    outline: none;
}

#calculadora button {
    background-color: #34495e;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

#calculadora button:hover {
    background-color: #2c3e50;
}

#calculadora button:focus {
    outline: none;
}

#calculadora button.operacion {
    background-color: #e74c3c;
}

#calculadora button.operacion:hover {
    background-color: #c0392b;
}

#calculadora button.operacion#restar,
#calculadora button.operacion#igual,
#calculadora button.operacion#clear {
    background-color: #2980b9;
}

#calculadora button.operacion#restar:hover,
#calculadora button.operacion#igual:hover,
#calculadora button.operacion#clear:hover {
    background-color: #1f618d;
}

#calculadora button.operacion#exponente,
#calculadora button.operacion#modulo,
#calculadora button.operacion#raiz {
    background-color: #8e44ad;
}

#calculadora button.operacion#exponente:hover,
#calculadora button.operacion#modulo:hover,
#calculadora button.operacion#raiz:hover {
    background-color: #71368a;
}