*{
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right, #1d2b64, #f8cdda);
    margin: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Arial', sans-serif;
    color: #7e8;
}

#calculadora table {
    border-collapse: collapse;
    box-shadow: 0 7px 14px rgba(7, 14, 21, 0.5);
    border-radius: 7px;
    overflow: scroll;
}

#calculadora input {
    width: 100%;
    padding: 7px;
    font-size: 1em;
    border: bold;
    background-color: #7e5;
    color: tomato;
    text-align: center;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

#calculadora input:focus {
    outline-offset: 7px;
    outline-width: 7px;
    outline-color: #c3a;
    outline-style: solid;
}

#calculadora button {
    background-color: #5c3a18;
    border: outset;
    color: #f6d4b2;
    font-weight: initial;
    cursor: crosshair;
    transition: background-color 0.1s;
}

#calculadora button:hover {
    background-color: #907e5c;
}

#calculadora button:focus {
    outline: none;
}

#calculadora button.operacion {
    background-color: #e74c3c;
}

#calculadora button.operacion:hover {
    background-color: #c0392b;
}

#calculadora button.operacion#restar,
#calculadora button.operacion#igual,
#calculadora button.operacion#clear {
    background-color: #2980b9;
}

#calculadora button.operacion#restar:hover,
#calculadora button.operacion#igual:hover,
#calculadora button.operacion#clear:hover {
    background-color: #1f618d;
}

#calculadora button.operacion#exponente,
#calculadora button.operacion#modulo,
#calculadora button.operacion#raiz {
    background-color: #8e44ad;
}

#calculadora button.operacion#exponente:hover,
#calculadora button.operacion#modulo:hover,
#calculadora button.operacion#raiz:hover {
    background-color: #71368a;
}